$border-layout: 3px solid lightgray;
$gutter-size: 20px;

body {
  position: relative;
  margin: 0;
  padding-bottom: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #efefef;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  * {
    box-sizing: border-box;
  }
}

.header {
  width: 100%;
  max-width: 800px;
  h1,
  h2 {
    margin: 15px 0;
  }
  h1 {
    margin-top: 0;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    margin: 0 0 20px;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.header,
.limited {
  margin: 0 auto;
  text-align: center;
}

.limited {
  max-width: 610px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: $gutter-size/2 0;
  display: flex;
  justify-content: center;
  font-size: 15px;
  border-top: $border-layout;
  background-color: white;
  align-items: center;
  flex-direction: column;
  @media (min-width: 350px) {
    flex-direction: row;
  }
  .credits {
    margin-top: 10px;
    @media (min-width: 350px) {
      margin-top: 0;
    }
  }
}

code,
pre {
  text-align: left;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// Avoid 'zoom' in iOS on the following elements
input[type='text'],
input[type='number'],
select,
select:focus,
textarea {
  font-size: 16px;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  // Remove inner shadow from form elements in iOS
  -webkit-appearance: none;
  // Remove rounded borders on iOS
  border-radius: 0;
}

// Hide clear button on IE11 as we've implemented a global solution with SVG as background
::-ms-clear {
  display: none;
}

*:focus {
  outline: 2px solid #e46119;
}
