$mobile-breakpoint: 680px;

.app {
  color: black;
}

.logo-top {
  padding-top: 10px;
  .react-emojis {
    font-size: 60px;
    @media (min-width: $mobile-breakpoint) {
      font-size: 100px;
    }
  }
}

.user-input {
  display: flex;
  flex-direction: column;
  @media (min-width: $mobile-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
  }
  &__item {
    text-align: left;
    label {
      margin-bottom: 10px;
    }
    input {
      width: 100%;
      padding: 10px 20px;
      border: 1px solid black;
      margin-bottom: 30px;
      &:focus {
        outline: 1px solid gray;
      }
      &.valid {
        border: 1px solid green;
      }
      &.invalid {
        margin-bottom: 5px;
        border: 1px solid #d42b1e;
      }
    }
  }
  &__checkbox {
    max-width: 150px;
    padding: 5px 10px;
    margin: 10px auto 0;
    background-color: lightgray;
    input {
      position: relative;
      top: -1px;
    }
  }
}

.build-me-one-of-those {
  padding: 20px;
  background-color: rgba(0,0,0,0.05);
  margin-bottom: 20px;
  margin: 0 10px 20px;
}

.warning {
  font-size: 12px;
  color: #d42b1e;
  margin: 0 0 10px 10px !important;
}

.btn__view-mode {
  // Reset button styles
  background-color: lighten(lightgray, 10%);
  border-radius: 0;
  border: none;
  border-image-width: 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  text-align: center;
  // Carry on
  padding: 10px 20px;
  font-size: 16px;
  @media (min-width: 980px) {
    font-size: 18px;
  }
  font-weight: 500;
  color: black;
  text-shadow: 2px 2px 1px white;
}

// This is outside the scope of 'fork-me-on-github' component
.fork-me-on-github {
  &__item {
    max-width: 570px;
    margin: 0 auto;
  }
}

.visually-hidden {
  // See  https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
